# Dependency directories
node_modules/

# Build artifacts
dist/

# SSL Certificates
certs/

# Environment variables
.env
.env.development
.env.production
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# TypeScript cache
*.tsbuildinfo

#Docker
docker-compose.*.yml